@using RockClimbingDb.Common;
@using System;
@using RockClimbingDb.ViewModels;

@model RockClimbingDb.Models.Climb

@{
    ViewBag.Title = "Add new climb";
    var climbingStyles = Enum.GetValues(typeof(ClimbEnums.AscentStyle)).Cast<ClimbEnums.AscentStyle>();
    var climbingStylesSelectList = new List<SelectListItem>();
    foreach (var style in climbingStyles)
    {
        climbingStylesSelectList.Add(new SelectListItem { Text = style.GetDisplayName(), Value = style.ToString() });
    }


    var climbingGrades = Enum.GetValues(typeof(ClimbEnums.Grade)).Cast<ClimbEnums.Grade>();
    var climbingGradesSelectList = new List<SelectListItem>();
    foreach (var grade in climbingGrades)
    {
        climbingGradesSelectList.Add(new SelectListItem { Text = grade.GetDisplayName(), Value = grade.ToString() });
    }

    var countries = (List<SelectListItem>)ViewBag.Countries;
    countries.Insert(0, new SelectListItem()
    {
        Value = null,
        Text = "Select Country"
    });


    var routeLocation = new RouteDetailsViewModel();
    var routes = (List<SelectListItem>)ViewBag.Routes;

}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddClimb", "Climber", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Congrats! Create a new climb.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Country", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Country", countries, new { onchange = "addClimb_Country_onChange(this)" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Area", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Area", new List<SelectListItem>(), new
            {
                onchange = "addClimb_Area_onChange(this)",
                id = "area_dropdown"
            })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Crag", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Crag", new List<SelectListItem>(), new
            {
                onchange = "addClimb_Crag_onChange(this)",
                id = "crag_dropdown"
            })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Sector", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Sector", new List<SelectListItem>(), new
            {
                onchange = "addClimb_Sector_onChange(this)",
                id = "sector_dropdown"

            })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Route", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.RouteId, new List<SelectListItem>(), new
            {
                id = "route_dropdown"
            })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfAscent, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DateOfAscent, new { @type = "date", @class = "form-control datepicker" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Style, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Style, climbingStylesSelectList)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProposedRating, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ProposedRating, new { @class = "form-control", @type = "number", @min = "0", @max = "5" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProposedGrade, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ProposedGrade, climbingGradesSelectList)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfTries, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NumberOfTries, new { @class = "form-control", @type = "number", @min = "1" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Note, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add Climb" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
