@using RockClimbingDb.Common

@model RockClimbingDb.ViewModels.ClimberClimbRouteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Climb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClimberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClimberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteSector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteSector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteCrag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteCrag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfAscent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAscent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFirstAscent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFirstAscent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Model.GradeEnum.GetDisplayName()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Climbs")
</p>
